/*#zoom_map{
	float:left;
	width:70%;
	height:50%;
}*/

#articlePane{
	float:right;
	width:25%;
	height:100%;
	overflow: auto;
}

/*#graphPane{
	position: absolute;
	bottom: 20px;
	width:70%;
	height:25%;
}*/

.article{
	width: auto;
	height: 25%;
	overflow: auto;
	margin-top: 0.1em;
	background-color: #ffffff;
	border: 1px #c0c0c0 solid;
	color: #000000;
}