#articlePane{
	margin-left: 0;
	padding-left: 1%;
	float:right;
	width:28%;
	height:100%;
	overflow: auto;
	border-left: 1px solid black;
}

#graphPane{
	margin-right: 0;
	float:left;
	width:70%;
	height:35%;
	border-top: 1px solid black;
}

#zoom_map{
	float:left;
	width:70%;
	height:65%;
}